.container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    width: 100%;
    margin-bottom: 100px;
}

img {
    animation: spin 4s linear 0s infinite normal;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}