article {
    padding: 30px;
    margin: 40px 0 40px 0;
    border-style: solid;
    border-width: 3px;
    font-size: 2rem;
}

.infograph {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition-duration: 0.5s;
}

.infograph img {
    transition-duration: 0.5s;
}

.infograph:hover img {
    transform: scale(1.1);
}

.scoops {
    background-color: rgb(226, 247, 255);
}

.scoops:hover {
    background-color: rgb(200, 220, 255)
}

.scoops p {
    color: black;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    max-width: 60vw;
}

.scoops a {
    color: black;
}

.tober {
    background-color: black;
}

.tober:hover {
    background-color: rgb(30, 30, 30)
}

.tober p {
    color: rgb(240, 240, 240);
    background-color: rgb(30, 30, 30);
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-radius: 10px;
    max-width: 60vw;
}

.tober a {
    color: rgb(240, 240, 240);
}

@media screen and (max-width: 380px) {
    .scoops img {
        display: none;
    }

    .tober img {
        display: none;
    }
}