.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 10vw 20px 10vw;
}

.card {
    position: relative;
    flex: 0 0 auto;
    width: 540px;
    height: 720px;
    margin: 20px;
    padding: 0;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card a {
    padding: 0;
    margin: 0;
    background-color: yellow;
}

.ball {
    position: absolute;
    top: 420px;
}

