.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 10vw 20px 10vw;
}

.card {
    position: relative;
    flex: 0 0 auto;
    width: 540px;
    height: 720px;
    margin: 20px;
    padding: 0;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    background-image: url("../images/pattern-grain-light.jpg");
}

.card-desc {
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    padding: 10px;
}

.card-desc a {
    display: block;
    color: black;
    text-align: center;
}

.ball {
    position: absolute;
    background-color: white;
    top: 420px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 113px; /* = 0.5*width + padding */
}

figcaption {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.even {
    background-color: rgb(220, 220, 220);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoops {
    background-color: rgb(176, 217, 230);
}

.scoops p {
    background-color: rgb(255, 200, 220);
}

.margaret {
    background-color: rgb(255, 226, 175);
}

.margaret p {
    background-color: rgb(255, 184, 97);
    border-style: double;
    border-width: 5px;
}

.bk {
    background-color: black;
}

.bk p {
    background-color: rgb(16, 0, 0);
    color: rgb(255, 159, 56);
}

.tobermory {
    background-color: black;
}

.tobermory p {
    background-color: black;
    color: rgb(220, 220, 220);
    border-style: double;
    border-width: 5px;
}

.swag {
    background-color: black;
}

.swag p {
    background-color: black;
    color: rgb(225, 200, 57);
    border-color: rgb(57, 235, 57);
    border-style: double;
    border-width: 5px;
}

