.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10vw 20px 10vw;
}

.card {
    border-color: black;
    border-style: solid;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    transition-duration: 0.5s;

}

figcaption {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    border-top-style: solid;
}

.plain {
    text-decoration: none;
}

.card:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}