main {
    margin-top: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {opacity: 0; margin-top: 50px;}
    100% {opacity: 1; margin-top: 0;}
}

body {
    padding: 0;
    margin: 0;
}


/* font stuff. For inconsolata: weight domain = [200, 900] */
.main-font {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.special-font {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

/* navbar start */
nav {
    background-color: rgb(40, 40, 40);
    padding: 20px 20px 20px 10px;
    margin: 0;
    display: flex;
}

nav a {
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: white;
    color: black;
}
/* navbar end */

h1 {
    text-align: center;
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-weight: 300;
    background-color: rgb(255, 200, 220);
    padding: 10px;
    margin: 40px 10vw 20px 10vw;
    border-style: solid;

}

p {
    max-width: 80vw;
    margin: 20px;
    padding: 50px;
    background-color: rgb(255, 200, 220);
    border-style: solid;
}

#about {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(40, 40, 40);

}

footer > div {
    border-style: none;
    padding: 20px;
}

@media screen and (max-width: 739px) {
    footer h3 {
        text-align: center;
    }
}